/* CSS for background */

.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../public/image/background.jpg'); /* Replace with your image */
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.95;
}